@import "./styles/normalize.scss";
.wrapper {
  margin: 30px auto;
  max-width: 865px;
}
.keyboard {
  border: 2px solid black;
  border-radius: 5px;
  margin-top: 30px;
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.keyboard__key {
  width: 50px;
  height: 50px;
  border: 1px black solid;
  margin: 5px;
  cursor: pointer;
}
.keyboard__key.active {
  background-color: gray;
  color: white;
}
.textarea {
  width: 100%;
  resize: none;
}
